.imageThumbnails {
  display: flex;
  justify-content: space-between;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#imageThumbnails {
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 100px;
  height: auto;
}
